@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.darkbox {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

.lightbox {
  width: 90vw;
  max-width: 300px;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  animation: zoomIn 300ms;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background-color: #4527A0;
  color: white;
}
.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  opacity: 0.75;
}
.nav {
  padding: 1rem;
  display: flex;
}
button:disabled {
  opacity: 0.5;
}
.selector {
  flex: 1;
}
.selector select {
  margin-right: 0.5rem;
  border: none;
  background-color: #efefef;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.prevNext {
  display: flex;
  align-items: center;
}
button.navButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
button.navButton:first-child {
  margin-right: 1rem;
}
.monthName {
  font-size: 1.25rem;
  font-weight: 500;
}
.year {
  font-size: 1rem;
}
.days {
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  font-size: 0.75rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1rem;
}
.date {
  height: 2rem;
  font-size: 0.85rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.date button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 100%;
  animation: zoomIn 300ms;
}
.outside {
  opacity: 0.5;
}
.inside button {
  font-weight: 500;
  
}


.date button:hover {
  background-color: #eee !important;
  color: #000 !important;
  
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer button {
  color: #4527A0;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}
.footer button:hover {
  opacity: 0.6;
}

.footer button:disabled {
  cursor: default;
  opacity: 0.5;
}

.zoomOut {
  animation: zoomOut 0.3s;
}

.fadeOut {
  animation: fadeOut 0.3s;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0.5) translateY(50%);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5) translateY(50%);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}
